body{
	padding-top: 51px;
	overflow-x: hidden;
}

.box1{
	border: solid 1px;
	width: 100%;
	height: auto;
}

.leftBox{
	border: solid 1px #000;
}

.rightBox{
	border: solid 1px #000;
}

#one{
    height:2000px;
}


/*Adding Delays to Animations*/
.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}