body{
	padding-top: 51px;
	overflow-x: hidden;
}

.box1{
	border: solid 1px;
	width: 100%;
	height: auto;
}

.leftBox{
}

.rightBox{
}

#one{
    height:2000px;
}

.timeline-middle:after{
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #AAA;
}


/*Adding Delays to Animations*/
.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}