/*MIXINS*/
/*Welcome Section*/
body {
  font-family: "Lato", sans-serif;
  background: #b2eaff;
  overflow-x: hidden; }

.cloud-bg-left {
  background: url(../images/cloud.png);
  height: 252px;
  background-size: 90%;
  background-repeat: no-repeat;
  min-width: 473px; }

.cloud-bg-right {
  background: url(../images/cloud.png);
  height: 252px;
  background-size: 90%;
  background-repeat: no-repeat;
  min-width: 473px;
  position: relative;
  left: 2.5%; }

.welcome {
  background-image: url(../images/bg1.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  min-height: 460px;
  position: fixed;
  z-index: -5000; }

.navbar-inverse {
  background: #fff; }

h2 {
  font-size: 3em;
  font-weight: bold;
  text-align: center; }

#one {
  height: 3000px;
  background: #b2eaff;
  position: absolute;
  /* here, fixed or relative may work too*/
  left: 0;
  right: 0;
  top: 55%;
  bottom: 0;
  overflow-y: scroll; }

.timeRow {
  padding: 1% 0 1% 0; }

.timeline-middle:after {
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px solid #AAA; }

.time-text {
  position: relative;
  vertical-align: bottom;
  width: 50%;
  top: 27.5%;
  left: 23%;
  letter-spacing: .05em; }

/******************** Second Section***********************/
#two {
  min-width: 100%;
  background: #00D5FF;
  height: 2500px;
  position: absolute;
  top: 3000px; }

/*Adding Delays to Animations*/
.delay-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }
