/*MIXINS*/
/*Navigation Bar Top*/
.top-nav {
  float: left;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 4em;
  background: none;
  opacity: .9; }

.header-container {
  margin-top: 1em; }

.logo {
  float: left; }

.logo-text {
  font-size: 2em;
  margin: 0;
  margin-left: 1em; }

.top-right {
  float: right; }

.top-nav ul li {
  list-style-type: none;
  display: inline-block; }

.top-link {
  text-decoration: none;
  padding: 1em;
  color: #2b2b2b;
  font-weight: bold; }

.top-link:hover {
  text-decoration: underline; }

/*SPRITE CSS WITH ANIMATION ***/
.sprite-container {
  width: 17.5%;
  min-width: 17.5%;
  position: fixed;
  right: 0;
  top: 5em;
  z-index: 5000; }

/*Welcome Section*/
body {
  font-family: "Merriweather", serif;
  background: #b2eaff;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px; }

.center {
  text-align: center; }

.cloud-bg-left {
  background: url(../images/cloud.png);
  height: 352px;
  background-size: 50%;
  background-repeat: no-repeat;
  min-width: 473px; }

.container-fluid {
  float: left;
  width: 100%; }

.cloud-bg-right {
  background: url(../images/cloud.png);
  height: 352px;
  background-size: 50%;
  background-repeat: no-repeat;
  min-width: 473px; }

.welcome {
  min-width: 100%;
  background-image: url(../images/bg1.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  min-height: 427px;
  position: fixed;
  z-index: -5000;
  margin-top: 50; }

.first-sect-header {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  font-family: "Lato", sans-serif; }

#one {
  min-height: 3500px;
  background: #b2eaff;
  position: absolute;
  /* here, fixed or relative may work too*/
  left: 0;
  right: 0;
  top: 55%;
  bottom: 0;
  overflow-x: hidden;
  background-image: url(../images/mountains.png);
  background-repeat: repeat-x;
  background-position: bottom; }

.bottom-image {
  position: absolute;
  bottom: 0; }

.container-cont {
  margin: 0 auto;
  width: 95%;
  min-height: 100%;
  overflow-x: hidden; }

.timeRow {
  float: left;
  min-width: 90%;
  padding: 1% 0 1% 0;
  padding-top: 3em;
  padding-left: 15%; }

.time-text {
  letter-spacing: .05em;
  width: 30%;
  max-height: 300px;
  position: relative;
  top: 17%;
  left: 11%; }

.time-header {
  font-family: "Lato", sans-serif;
  font-size: 2em; }

.tContent {
  max-width: 50%;
  position: relative; }

.lb-container {
  float: left;
  width: 50%; }

.rb-container-img {
  float: left;
  width: 50%; }

.rb-container {
  float: left;
  width: 50%; }

.margin-top {
  margin-top: 3em; }

/****SVG ***/
/****SVG Clours*/
.telegraph-base {
  fill: #FF5050; }

.telegraph-darker {
  fill: #FF3333; }

.telegraph-white {
  fill: #fff; }

.bg-bar {
  fill: #FFFFFF; }

.bar-lines {
  fill: #444444; }

/******************** Second Section***********************/
#two {
  min-width: 100%;
  background: #54e3ff;
  position: absolute;
  top: 3927px;
  height: 850px; }

.card-cont {
  width: 100%;
  min-width: 100%; }

.two-header-main {
  font-family: "Lato", sans-serif;
  text-align: left;
  font-size: 3em; }

.flip-card {
  float: left;
  width: 25%;
  height: 50%;
  transition: all 0.2s;
  perspective: 1000px; }

.front-card, .back-card {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  text-align: left;
  backface-visibility: hidden;
  transform-style: preserve3d;
  transition: all ease 0.7s;
  opacity: .9; }

.front-card:hover, .back-card:hover {
  opacity: 1; }

.front-card {
  background: #2b2b2b;
  text-align: center; }

.back-card {
  background: #54e3ff; }

.back-card {
  transform: rotateX(-180deg); }

.flipped .back-card {
  transform: rotateX(0deg); }

.flipped .front-card {
  transform: rotateX(180deg); }

.card-front-header {
  color: #f7f7f7;
  font-family: "Lato", sans-serif;
  letter-spacing: .25em;
  position: relative;
  top: 1em; }

.card-text {
  padding: 1em;
  text-align: center;
  padding-top: 7em; }

.card-img-front {
  width: 50%; }

/*************************** ANIMATIONS */
/*Adding Delays to Animations*/
.delay-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.pivot {
  animation-duration: .5s;
  animation-name: pivot_tele;
  animation-iteration-count: infinite; }

@keyframes pivot_tele {
  0% {
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    transform-origin: 100%; }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: 100%; }
  100% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    transform-origin: 100%;
    webkit-transition: all .5 ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -o-transition: all .5 ease-in-out;
    transition: all .5s ease-in-out; } }

.drinks_can {
  -webkit-animation: 1s drop_can;
  animation-iteration-count: infinite; }

@keyframes drop_can {
  0% {
    transform: translateY(-0.5em);
    transform-origin: 100%; }
  100% {
    -ms-transform: translateY(3.75em);
    -webkit-transform: translateY(3.75em);
    transform: translateY(3.75em);
    transform-origin: 100%;
    webkit-transition: all .5 ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -o-transition: all .5 ease-in-out;
    transition: all .5 ease-in-out; } }

/***** RESPONSIVE ******/
@media only screen and (min-width: 1024px) {
  .cloud-bg-left {
    background-size: 75%; }
  .cloud-bg-right {
    background-size: 75%; }
  .time-text {
    width: 55%;
    left: 14%;
    top: 5%;
    font-size: .9em; }
  .time-header {
    font-size: 1.5em;
    top: 10%; }
  .timeRow {
    padding-left: 10%; }
  .tContent {
    left: 15%; } }

@media only screen and (min-width: 1224px) {
  .cloud-bg-left {
    background-size: 75%; }
  .cloud-bg-right {
    background-size: 75%; }
  .time-header {
    top: 10%; }
  .time-text {
    width: 45%;
    left: 17.5%;
    font-size: 1em; }
  .timeRow {
    padding-left: 10%; } }

@media only screen and (min-width: 1500px) {
  .time-header {
    font-size: 2em;
    top: 20%; }
  .time-text {
    width: 50%;
    top: 10%;
    left: 15%;
    font-size: 1.19em; } }

/* Large screens ----------- */
@media only screen and (min-width: 1730px) {
  .cloud-bg-left {
    background-size: 75%; }
  .cloud-bg-right {
    background-size: %; }
  .time-text {
    width: 50%;
    right: 10%;
    top: 20%;
    font-size: 1.25em; }
  .time-header {
    font-size: 2em; }
  .timeRow {
    padding-left: 10%; } }
