$padding : 1%;
$main_colour: #dbfefe;
$second_colour: #fff;
$no_border: none;
$header-font: 'Lato', sans-serif;
$body-font: 'Merriweather', serif;
$heading: 1em, strong, center;
$top_bottom: 1% 0 1% 0;


$primary-colour-dark: #b2eaff;
$primary-colour: #00D5FF;

/*MIXINS*/

@mixin content-wrapper($top)
{
  position: absolute; /* here, fixed or relative may work too*/
  left: 0;
  right: 0;
  top: $top;
  bottom: 0;
}

/*Navigation Bar Top*/

.top-nav{
    float: left;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 4em;
    background:none;
    opacity: .9;
}

.header-container{
    margin-top: 1em;
}

.logo{
    float: left;
}

.logo-text{
    font-size: 2em;
    margin: 0;
    margin-left: 1em;
}

.top-right{
    float: right;

}

.top-nav ul li{
    list-style-type: none;
    display: inline-block;
}

.top-link{
    text-decoration: none;
    padding: 1em;
    color: #2b2b2b;
    font-weight: bold;
}

.top-link:hover{
    text-decoration: underline;
}


.overlay-container{
    left:0;
    position:fixed;
    top:0;
    width:100%;
    height: 100%;
    z-index: 999999999999999;
    background: #002c46;

}

.intro-overlay-left{
    float: left;
    width:50%;
    
}

.intro-overlay-right{
    float: left;
    width:50%;
    color: #fff;
}

.overlay-title{
    text-align: left;
    margin-left:1em;
    font-family: $header-font;
    font-size: 6em;
}

.typed-cursor{
    display: none;
}

.overlay-text{
    width: 60%;
    margin-left: 6.5em;
}

.btn-cont{
    width: 60%;
    height: auto;
    margin-left: 6.5em;
}


.enter{
    float: right;
    background: 0;
    border: solid 5px;
    font-size: 2em;
    margin: 0 auto;
    color: #fff;
    border-radius: .5em;
}

/*SPRITE CSS WITH ANIMATION ***/
.sprite-container{
    width: 17.5%;
    min-width: 17.5%;
    position: fixed;
    right: 0;
    top: 5em;
    z-index: 5000;
}

/*Welcome Section*/
body{
	font-family: $body-font;
    background: $primary-colour-dark;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}

.center{
    text-align: center;
}

.cloud-bg-left{
    background: url(../images/cloud.png);
    height: 352px;
    background-size: 50%;
    background-repeat: no-repeat;
    min-width: 473px;
}

.container-fluid{
    float: left;
    width: 100%;
}

.cloud-bg-right{
    background: url(../images/cloud.png);
    height: 352px;
    background-size: 50%;
    background-repeat: no-repeat;
    min-width: 473px;
}

.welcome{
    min-width: 100%;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    min-height: 585px;
    position: fixed;
    z-index: -5000;
    margin-top:5em;
}

.welcome-text{
    position: relative;
    left: 18em;
    top: 19em;
}


.first-sect-header{
	font-size: 3em;
	font-weight: bold;
	text-align: center;
    font-family: $header-font;
}



#one{
    min-height: 3230px;
    background: $primary-colour-dark;
    @include content-wrapper(100%);
    overflow-x: hidden;
    background-image: url(../images/mountains.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.bottom-image{
    position:absolute;
    bottom:0;
}
.container-cont{
    margin: 0 auto;
    width: 95%;
    min-height: 100%;
    overflow-x: hidden;
}


.timeRow{
    float: left;
    min-width: 90%;
    padding: 1% 0 1% 0;
    padding-top: 3em;
    padding-left: 15%;
}

.time-text{
    letter-spacing: .05em;
    width: 30%;
    max-height: 300px;
    position: relative;
    top: 17%;
    left: 11%;
}

.time-header{
    font-family: $header-font;
    font-size: 2em;
}

.tContent{
    max-width: 50%;
    position: relative;
}

.lb-container{
    float:left;
    width: 50%;
}

.rb-container-img{
    float: left;
    width: 50%;
}

.rb-container{
    float: left;
    width: 50%;
}

.margin-top{
    margin-top: 3em;
}

.clouds-smiley{
    position: absolute;
    top: 191em;
    right: 2em;
}


.ytWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.ytWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


#intro-overlaoverlay{
    width: 100%;
    height: 100%;
    top:        0; 
    left:       0; 
    position:   fixed; 
    z-index: 9999999999999;
    background: #002c46;
}

#three{
    width: 100%;
    position:fixed !important;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 9999999999999;
    background: #002c46;
    margin:auto;
}

.three-titles{
    position: absolute;
    text-align: center;
    color: #fff;
    left:0; right:0;
    top:50%; bottom:0;
    font-family: $header-font;    
}

/****SVG ***/
    /****SVG Clours*/
    $base: #FF5050;
    $base-darker: #FF3333;
    $white: #fff;

.telegraph-base{
    fill:$base;
}

.telegraph-darker{
    fill: $base-darker;
}

.telegraph-white{
    fill:$white;
}

.bg-bar{fill:#FFFFFF;}
.bar-lines{fill:#444444;}

/******************** Second Section***********************/

#two{
    float: left;
    min-width: 100%;
    background: #54e3ff;
    position: absolute;
    top: 245em;
    height: 850px;
}

.card-cont{
    width: 100%;
    min-width: 100%;
}

.two-header-main{
    font-family: $header-font;
    text-align: left;
    font-size: 3em;
}
.flip-card {
  float: left;
  width: 25%;
  height: 50%;
  transition: all 0.2s;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front-card, .back-card {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  text-align: left;
  backface-visibility: hidden;
  transform-style: preserve3d;
  transition: all ease 0.7s;
  opacity: .9;
}

.front-card:hover, .back-card:hover{
    opacity: 1;
}

.front-card {
  background: #2b2b2b;
  text-align: center;
}

.back-card {
  background: #54e3ff;
}

.back-card {
  -webkit-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.flipped .back-card {
  -webkit-transform: rotateX(0);
  -ms-transform: rotateX(0);
  transform: rotateX(0);
}

.flipped .front-card {
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}


.card-front-header{
    color: #f7f7f7;
    font-family: $header-font;
    letter-spacing: .25em;
    position: relative;
    top: 1em;
}

.card-text{
    padding: 1em;
    text-align: center;
    padding-top: 7em;
}

.card-img-front{
    width: 50%;
}

.danger{
    color: #fff;
}

.danger-container{
    min-width:80%;
    height: 30%;
    float: left;
    margin-left: 10%;
}

.danger-cards{
    float: left;
    width: 24%;
    padding: 1em;
    background: #f7f7f7;
    height: 100%;
    margin: 1%;
    transition: linear ease-in-out;
}

.danger-title{
    font-family: $header-font;
    text-align: center;  
}

.danger-card-text{
    margin-bottom: 0;
}

.danger-cards-img{
    max-width: 50%;
    max-height: 58%;
    margin-left:25%;
    padding: 0;
}

.finally{
    width: 51.9%;
}

.finally:hover{
    background: #2b2b2b;
    transition: .5s ease-in-out;
}

.invisi-text{
    color: #f7f7f7;
    text-align: center;
    font-size: 5em;
}

/* Ending Section */

.the-end{
    width: 100%;
    position:fixed !important;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 9999999999999;
    background: #002c46;
    margin:auto;
}

.end-titles{
    position: absolute;
    text-align: center;
    color: #fff;
    left:0; right:0;
    top:50%; bottom:0;
    font-family: $header-font;    
}

.end-content-text{
    position: absolute;
    text-align: center;
    color: #fff;
    left:0; right:0;
    top:50%; bottom:0;
    font-family: $header-font;    
}


.rotating-line {
    -webkit-animation: rotation 2s infinite linear;
	-moz-animation: rotation 2s infinite linear;
	-o-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to   {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to   {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}



/*************************** ANIMATIONS *//////////////////
/*Adding Delays to Animations*/
.delay-6s {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.delay-7s {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}


.pivot{
    animation-duration: .5s;
    animation-name: pivot_tele;
    animation-iteration-count: infinite;
}

@keyframes pivot_tele{
    0% {
        -ms-transform: rotate(-7deg);
        -webkit-transform: rotate(-7deg);
        transform: rotate(-7deg);
        transform-origin: 167px;
    }

    50% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transform-origin: 167px;
    }

    100%{
        -ms-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
        transform-origin: 167px;
        webkit-transition: all .5 ease-in-out;
        -moz-transition: all .5 ease-in-out;
        -o-transition: all .5 ease-in-out;
        transition: all .5s ease-in-out;
    }
}

.drinks_can{
    -webkit-animation: 1s drop_can;
    animation-iteration-count:  infinite;
}

@keyframes drop_can{
    0% {
        transform: translateY(-.5em);
        transform-origin: 100%;
    }


    100%{
        -ms-transform: translateY(3.75em);
        -webkit-transform: translateY(3.75em);
        transform: translateY(3.75em);
        transform-origin: 100%;
        webkit-transition: all .5 ease-in-out;
        -moz-transition: all .5 ease-in-out;
        -o-transition: all .5 ease-in-out;
        transition: all .5 ease-in-out;
    }
    
}

/***** RESPONSIVE ******/

@media only screen and (min-width:1024px) { 
    #one{
        min-height: 3500px;
    }
    .cloud-bg-left{
        background-size: 75%;
    }

    .cloud-bg-right{
        background-size:75%;
    }

    .time-text{
        width: 55%;
        left:14%;
        top: 5%;
        font-size: .9em;
    }

    .time-header{
        font-size: 1.5em;
        top:10%;
    }

    .timeRow{
        padding-left: 10%;
    }

    .tContent{
        left:15%;
    }

    #two{
        top: 259em;
    }
    
    .welcome-text{
        left: 3.5em;
    }
    

}

@media only screen and (min-width:1224px) {
    .cloud-bg-left{
        background-size: 75%;
    }

    .cloud-bg-right{
        background-size:75%;
    }

    .time-header{
        top:10%;
    }

    .time-text{
        width: 45%;
        left: 17.5%;
        font-size: 1em;
    }

    .timeRow{
        padding-left: 10%;
    }

    #two{
        top: 260em;
    }
    
    .welcome-text{
        left: 7em;
    }
    
     .intro-overlay-left{
        
    }
}

@media only screen
and (min-width : 1500px){

    .time-header{
        font-size: 2em;
        top:20%;
    }

    .time-text{
        width: 50%;
        top: 10%;
        left: 15%;
        font-size: 1.19em;
    }

    #two{
        top: 263em;
    }
    
    .welcome-text{
        left: 12.5em;
    }
    

}

/* Large screens ----------- */
@media only screen
and (min-width : 1730px) {
    .cloud-bg-left{
        background-size: 75%;
    }

    .cloud-bg-right{
        background-size:%;
    }

    .time-text{
        width: 50%;
        right: 10%;
        top:20%;
        font-size: 1.25em;
    }

    .time-header{
        font-size: 2em;
    }

    .timeRow{
        padding-left: 10%;
    }

    #two{
        top: 265em;
    }
    
    .welcome-text{
        left: 16em;
    }
    


}

@media only screen
and (min-width : 1900px)
{
    #two{
        top: 268em;
    }
    
    .welcome-text{
        left: 17.5em;
    }
    

}

@media only screen
and (min-width : 1980px)
{

    .welcome{
        min-height:750px;
    }
    
    .welcome-text{
        top: 23em;
        left: 19em;
    }
    
    #one{
        min-height:3700px;
    }
    
    #two{
        top: 285em;
    }
    
    .intro-overlay-left{
    }
}

@media only screen and (min-width : 2250px){
    #two{
        top: 290em;
    }
    .welcome-text{
        left: 23.5em;
    }
}

@media only screen
    and (min-width : 2500px){
        #two{
            top: 298em;
        }
        
        .welcome-text{
            left: 27em;
        }
        
}