$padding : 1%;
$main_colour: #dbfefe;
$second_colour: #fff;
$no_border: none;
$font: 'Lato', sans-serif;
$heading: 1em, strong, center;
$top_bottom: 1% 0 1% 0;


$primary-colour-dark: #b2eaff;

/*Welcome Section*/
body{
    padding-top: 52px;
	font-family: $font;
    background: $primary-colour-dark;
}

.cloud-bg-left{
    background: url(../images/cloud.png);
    height: 252px;
    background-size: 90%;
    background-repeat: no-repeat;
    min-width: 473px;
        position: relative;
    right: 50%;
}

.cloud-bg-right{
    background: url(../images/cloud.png);
    height: 252px;
    background-size: 90%;
    background-repeat: no-repeat;
    min-width: 473px;
        position: relative;
    left: 50%;
}

.welcome{
    background-image: url(../images/bg1.png);
    background-repeat: no-repeat;
    background-position: 55%;
    background-size: cover;
    min-height: 460px;
}

.navbar-inverse{
	background: $second_colour;
}

h2{
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}


#one{
    height: 2000px;
}

.timeRow{
	padding: $top_bottom;
}

.timeline-middle:after{
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #AAA;
}


.time-text{
    position: relative;
    /* display: inline-block; */
    vertical-align: bottom;
    width: 250px;
    top: 20%;
    left: 20%;
    letter-spacing: .05em;
}

/*Adding Delays to Animations*/
.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}