$padding : 1%;
$main_colour: #dbfefe;
$second_colour: #fff;
$no_border: none;
$font: 'Lato', sans-serif;
$heading: 1em, strong, center;
$top_bottom: 1% 0 1% 0;


$primary-colour-dark: #b2eaff;
$primary-colour: #00D5FF;

/*MIXINS*/

@mixin content-wrapper($top)
{
  position: absolute; /* here, fixed or relative may work too*/
  left: 0;
  right: 0;
  top: $top;
  bottom: 0;
}

/*Welcome Section*/
body{
	font-family: $font;
    background: $primary-colour-dark;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}

.cloud-bg-left{
    background: url(../images/cloud.png);
    height: 352px;
    background-size: 50%;
    background-repeat: no-repeat;
    min-width: 473px;
}

.container-fluid{
    float: left;
    width: 100%;
}

.cloud-bg-right{
    background: url(../images/cloud.png);
    height: 352px;
    background-size: 50%;
    background-repeat: no-repeat;
    min-width: 473px;
}

.welcome{
    min-width: 100%;
    background-image: url(../images/bg1.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    min-height: 427px;
    position: fixed;
    z-index: -5000;
}

.navbar-inverse{
	background: $second_colour;
}

h2{
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}



#one{
    height: 3000px;
    background: $primary-colour-dark;
    @include content-wrapper(55%);
    overflow-x: hidden;
}

.container-cont{
    margin: 0 auto;
    width: 95%;
    min-height: 100%;
    overflow-x: hidden;
}


.timeRow{
    float: left;
    min-width: 90%;
    padding: 1% 0 1% 0;
    padding-top: 3em;
    padding-left: 15%;
}

.timeline-middle:after{
    content:"";
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #AAA;
}

.time-text{
    letter-spacing: .05em;
    width: 30%;
    max-height: 300px;
    position: relative;
    top: 17%;
    left: 11%;
}

.tContent{
    max-width: 50%;
}

.lb-container{
    float:left;
    width: 50%;
}

.rb-container-img{
    float: left;
    width: 50%;
}

.rb-container{
    float: left;
    width: 50%;
}

.margin-top{
    margin-top: 3em;
}


/****SVG ***/
    /****SVG Clours*/
    $base: #FF5050;
    $base-darker: #FF3333;
    $white: #fff;

.telegraph-base{
    fill:$base;
}

.telegraph-darker{
    fill: $base-darker;
}

.telegraph-white{
    fill:$white;
}

.bg-bar{fill:#FFFFFF;}
.bar-lines{fill:#444444;}

/******************** Second Section***********************/

#two{
    min-width: 100%;
    background: $primary-colour;
    height: 2500px;
    position: absolute;
    top: 3000px;
}

/*Adding Delays to Animations*/
.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}



/***** RESPONSIVE ******/

@media only screen and (min-width:1024px) { 
    .cloud-bg-left{
        background-size: 75%;
    }

    .cloud-bg-right{
        background-size:75%;
    }

    .time-text{
        width: 55%;
    }

    .timeRow{
        padding-left: 10%;
    }
}

@media only screen and (min-width:1224px) {
    .cloud-bg-left{
        background-size: 75%;
    }

    .cloud-bg-right{
        background-size:75%;
    }

    .time-text{
        width: 40%;
        left: 20%;
    }

    .timeRow{
        padding-left: 10%;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1730px) {
    .cloud-bg-left{
        background-size: 75%;
    }

    .cloud-bg-right{
        background-size:%;
    }

    .time-text{
        width: 40%;
        right: 10%;
        top:30%;
        font-size: 1.25em;
    }

    .timeRow{
        padding-left: 10%;
    }
}